* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
body .fas {
  color: #D81324;
}
body a {
  text-decoration: none;
  color: #D81324;
}
body .media {
  font-size: 18px;
}
body .intro {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
body .intro__contact {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  background-color: whitesmoke;
  top: 0;
}
body .intro__contact__start {
  display: flex;
  margin-left: 3rem;
}
body .intro__contact__start__address {
  margin-right: 2rem;
}
body .intro__contact__end {
  display: flex;
  margin-right: 40px;
}
body .intro__contact__end__number {
  margin-right: 1rem;
}
body .intro__contact__end__media {
  gap: 10px;
  display: flex;
}
body .intro__contact__end__media__item {
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .intro__navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;
  z-index: 999;
}
body .intro__navbar__logo {
  display: flex;
  margin-left: 3rem;
  font-size: 30px;
  font-weight: bold;
}
body .intro__navbar__logo__text {
  color: #D81324;
  margin-left: 2rem;
}
body .intro__navbar__nav {
  display: flex;
  gap: 10px;
}
body .intro__navbar__nav__list {
  display: flex;
}
body .intro__navbar__nav__list__item {
  margin-left: 30px;
  list-style: none;
  padding: 30px 15px;
}
body .intro__navbar__nav__button {
  padding: 30px 45px;
  margin-left: 30px;
  background-color: #D81324;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}
body .intro__container {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/carousel-bg-1.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
body .intro__container__image {
  position: relative;
  left: 800px;
  top: 100px;
}
body .intro__container__text {
  position: relative;
  bottom: 300px;
  margin-left: 100px;
  color: white;
  font-weight: bold;
}
body .intro__container__text p {
  font-size: 50px;
}
body .intro__container__button {
  position: relative;
  bottom: 200px;
  margin-left: 100px;
  background-color: #D81324;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  padding: 20px 60px;
}
body .jobs {
  height: 70%;
  width: 100%;
  display: flex;
}
body .jobs__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 20px;
}
body .jobs__container__item {
  display: flex;
  margin: 20px;
  padding: 80px;
  justify-content: center;
  align-items: center;
}
body .jobs__container__item__icon {
  margin-right: 10px;
  margin-bottom: 85px;
  font-size: 40px;
  color: #D81324;
}
body .jobs__container__item__text h2 {
  margin-bottom: 20px;
  font-weight: bold;
}
body .jobs__container__item__text p {
  font-size: 20px;
  margin-bottom: 20px;
}
body .about {
  display: flex;
  height: 100%;
}
body .about__image {
  padding: 100px;
}
body .about__text {
  padding: 70px 0;
  margin-right: 200px;
}
body .about__text h3 {
  color: #D81324;
}
body .about__text h2 {
  font-size: 40px;
  color: #0B2154;
}
body .about__text h2 span {
  color: #D81324;
  font-weight: bold;
}
body .about__text p {
  margin-bottom: 30px;
  color: black;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 30px;
}
body .about__text__info {
  display: flex;
  flex-direction: column;
}
body .about__text__info__item {
  display: flex;
}
body .about__text__info__item__number {
  background-color: gray;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
}
body .about__text__info__item__number span {
  font-size: 30px;
}
body .about__text__info__item__text {
  margin-right: 80px;
}
body .about__text__info__item__text h4 {
  font-size: 20px;
  color: #0B2154;
}
body .about__text__info__item__text p {
  color: black;
  font-size: 18px;
  margin-top: 5px;
}
body .about__text__button {
  background-color: #D81324;
  display: flex;
  padding: 10px 40px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 0;
}
body .transition {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.7)), url(img/carousel-bg-1.jpg);
  width: 100%;
  height: 30%;
  background-position: center;
  background-size: cover;
}
body .transition__container {
  color: white;
  display: flex;
  justify-content: space-around;
}
body .transition__container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
}
body .transition__container__item__icon {
  font-size: 30px;
  margin-bottom: 15px;
}
body .transition__container__item__number {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
body .transition__container__item__text {
  font-size: 18px;
}
body .explore {
  width: 100%;
  height: 100%;
}