@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;

}

body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    .fas{
        color: #D81324;

    }

    a{
        text-decoration: none;
        color: #D81324;
    }

    .media{
        font-size: 18px;
        
    }
    

    .intro{
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;

        &__contact{
            display: flex;
            justify-content: space-between;
            padding:  15px 0;   
            width: 100%;
            background-color:whitesmoke;
            //position: fixed;
            top: 0;

            

            &__start{
                display: flex;
                margin-left: 3rem;
                
                &__address {
                    margin-right: 2rem;
                }
            }

            &__end{
                display: flex;
                margin-right: 40px;
                

                &__number{
                    margin-right: 1rem;
                }

                &__media{

                    gap: 10px;
                    display: flex;
                    
                    

                    &__item{
                        background-color: white;
                        width: 25px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        

                    }
                }
            }
        }

        &__navbar{
            display: flex;
            justify-content: space-between;
            // padding:  15px 0;   
            width: 100%;
            background-color:white;
            //position: fixed;
            align-items: center;
            // height: 40px;
            z-index: 999;
            
            &__logo{
                display: flex;
                margin-left: 3rem;
                font-size: 30px;
                font-weight: bold;
                
                &__text{
                    color: #D81324;
                    margin-left: 2rem;
                }
            }
            
            &__nav{
                display: flex;
                gap: 10px;

                
                
                &__list{
                    display: flex;
                    &__item{
                        margin-left: 30px;
                        list-style: none;
                        padding: 30px 15px;
                        
                    }
                }

                &__button{
                    padding: 30px 45px;
                    margin-left: 30px;
                    background-color: #D81324 ;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                    border: 0;
                }
            }
        }
            
        &__container{
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/carousel-bg-1.jpg);
            width: 100%;
            height: 100%;
            //display: flex;
            background-position: center;
            background-size: cover;
            
            
            &__image{
                //display: flex;
                position: relative;
                left: 800px;
                top: 100px ;
            }

            &__text{
                position: relative;
                bottom: 300px;
                //left: 100px;
                margin-left: 100px;
                color: white;
                font-weight: bold;
                h2{
                    
                }
                p{
                    font-size: 50px;
                }
            }
            &__button{
                position: relative;
                bottom: 200px;
                margin-left: 100px;
                background-color: #D81324 ;
                color: white;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                border: 0;
                padding: 20px 60px;
                // width: 200px;
                //height: 50px;
    
            }
        }
    }

    .jobs{
        height: 70%;
        width: 100%;
        display: flex;

        &__container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 100px 20px ;


            &__item{
                display: flex;
                //background-color: azure;
                margin: 20px;
                padding: 80px;
                justify-content: center;
                align-items: center;
                
                &__icon{
                    margin-right: 10px;
                    margin-bottom: 85px;
                    font-size: 40px;
                    color: #D81324 ;
                }

                &__text{
                    //display: flex;
                    //flex-direction: column;
                    
                    h2{
                        margin-bottom: 20px;
                        font-weight: bold;
                    }

                    p{
                        font-size: 20px;
                        margin-bottom: 20px;
                    }

                    a{
                    }

                }

            }
        }
    }

    .about{
        display: flex;
        height: 100%;
        &__image{
            padding: 100px;
        }
        &__text{    
            padding: 70px 0;
            margin-right: 200px;
            
            
            h3{
                color: #D81324;
                
            }
            
            h2{
                font-size: 40px;
                color: #0B2154;

                span{
                    color: #D81324;
                    font-weight: bold;
                }
            }

            p{
                margin-bottom: 30px;
                color: black;
                font-size: 18px;
                margin-bottom: 50px;
                margin-top: 30px;
            }
        
            &__info{
                display: flex;
                flex-direction: column;
                
                &__item{

                    display: flex;
                    &__number{
                        background-color: gainsboro;
                        padding: 10px;
                        margin-right:  20px;
                        margin-bottom: 5px;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        box-sizing: border-box;

                        span{
                            font-size: 30px;

                        }
                    
                    }
                    &__text{
                        margin-right: 80px;
                        h4{
                            font-size: 20px;
                            color: #0B2154;
                        }

                        p{
                            color: black;
                            font-size: 18px;
                            margin-top: 5px;
                        }
                    }
                }
            }
            
            &__button{
                background-color: #D81324;
                display: flex ;
                padding: 10px 40px;
                font-size: 15px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                border: 0;
                
                }
        }

    }
    
    .transition{
        background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.7)), url(img/carousel-bg-1.jpg);
        width: 100%;
        height: 30%;
        background-position: center;
        background-size: cover;

        &__container{
            color: white;
            display: flex;
            justify-content: space-around;
            
            
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 55px;
                &__icon{
                    font-size: 30px;
                    margin-bottom: 15px;
                }
                &__number{
                    font-size: 35px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                &__text{
                    font-size: 18px;
                }
            }
        }
    }

    .aboutus{
        width: 100%;
        height: 100%;
        
        &__header{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 30px;
            h5{
                font-size: 14px;
                color: #D81324;

            }
            h3{
                font-size: 30px;
                font-weight: bold;
                color: #0B2154;
            }
        }
        &__container{
            display: flex;
            gap: 1rem;
                //justify-content: space-around;

            &__content{
                display: flex;
                flex-direction: column;
                width: 33% ; //width vererek boşluk oluşturursan içindekiler daha kolay hareket eder. ama buttonları genişletirken paddingle yap
                gap: 1rem; //flexle gap kullanmak daha sağlıklı. boşukları alt ve üst için tam ayarlıyor

                &__item{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 25%;
                    margin-left: 30px;
                    background-color:gainsboro;
                    border: 0;
                    cursor: pointer;
                    
                    // width: 30%;
                    // padding: 20px 180px ;
                    
                    // margin-top: 1rem;
                    // margin-bottom: 1rem; //boşluğu marginle de ayarlayabilirsin ama kaymalar için childleri kullanman lazım

                    /*&:first-child{
                        margin-top: 0;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    } */
                    
                


                    &__icon{
                        font-size: 30px;
                        margin-right: 10px;
                        color: #D81324;
                        
                    }
                    &__text{
                        font-size: 23px;
                        font-weight: bold;
                        // word-wrap: normal;
                        

                    }
                }
            }

            &__image{
                width: 33%;
                margin-left: 10px;
                
            }

            &__info{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
                width: 34%;
                margin-right:20px;
                
                h4{
                font-size: 35px;
                color: #0B2154;
                margin-right: 20px;
                
                }
                p{
                font-size: 20px;
                }
                
                &__check{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-size: 20px;
                    span{
                    display: flex;
                    gap: 10px;
                    
                    
                        .fa-check{
                            color: green;
                            
                        }
                    }
                }
                
                &__button{
                    padding: 20px 80px ;
                    background-color: #D81324;
                    color: white;
                    border: 0 ;
                    font-size: 15px;
                    font-weight: bold;
            
                }
            }
        }
    }
    
    .booking{
        width: 100%;
        height: 80%;
        background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.7)), url(img/carousel-bg-2.jpg);
        background-position: center;

        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            &__text{
                width: 60%;
                // margin-top: 170px;
                margin-right: 60px;
                h3{
                    color: white;
                    font-size: 40px;
                    width: 80%;
                    font-weight: bold;
                }
                p{
                    color: white;
                    font-size: 20px;
                    width: 90%;
                    display: flex;
                    margin-top: 20px;
                }
            }

            &__form{
                width:40%;
                height: 100%; 
                // padding: 30px 100px ;

                //display: flex;
                // flex-direction: column;
                background-color: #D81324;
                padding: 0 20px;
                
                h2{
                    text-align: center; //text i bu şekilde ortala displayle değil
                    // display: flex;
                    // justify-content: center;
                    font-size: 3rem;
                    color: white;
                    margin-top: 50px
                    
                }

                &__button{
                    display: block;
                    // margin: 0 20px; //ortaladı
                    // justify-content: center;
                    padding: 30px;
                    width: 100%;
                    background-color: #0B2154;
                    color: white;
                    margin-top: 20px;
                    font-weight: 700;
                }

                &__item{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    align-items: center;    
                    
                    &__firstline{
                        display: flex;
                        width: 100%;
                        justify-content: space-around;
                        align-items: center;
                        gap: 20px;
                        // padding: 5px 20px;
                        margin-top: 40px;

                        &__name, &__mail{
                            padding: 0 10px;
                            height: 4rem;
                            
                            
                        }

                        &__name{
                            
                            text-align: left;
                            width: 100%;
                            display: flex;
                            
                        }
                        &__mail{
                            //padding: 20px 30px;
                            text-align: left;
                            width: 100%;

                        }
                    }

                    &__secondline{
                        display: flex;
                        width: 100%;
                        //justify-content: space-around;
                        //align-items: center;
                        gap: 20px;
                        // padding: 5px 20px;
                        margin-top: 20px;
                    
                        &__service{
                            width: 100%;
                            padding: 0 10px;
                            height: 4rem;
                        }
                        &__date{
                            padding: 0 10px;
                            width: 100%;
                            height: 4rem;
                            
                        }
                    }

                    &__request{
                        width: 100%;
                        min-height: 100px;
                        resize: none;
                        padding: 10px ;
                        margin-top: 20px;
                        
                    }   
                }
            }
        }
    }

    .technicians{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction:column ;
        
        &__heading{
            display: flex;
            align-items:center ;
            flex-direction: column;
            margin-top: 20px;

            h5{
                font-size: 14px;
                color: #D81324;
                font-weight: bold;
            }
            span{
                font-size: 30px;
                color: #0B2154;
                font-weight: bold;
            }
        }

        &__container{
            display: flex;
            
            
            &__item{
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: gainsboro;
                margin: 20px;
                padding-bottom: 30px;
                    &:hover{
                        .technicians__container__item__modal__bg{
                            // max-width: 100%;
                            // max-height: 100%;
                            transform: scale(1);

                        }
                    }
            
            

                &__img{
                    width: 100%;
                    height: 100%;           
                }

                &__modal{
                    position: relative;
            
                    &__bg{
                        position: absolute;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        top: 0;
                        left: 0;
                        
                        width: 100%;
                        height: 100%;

                        background: #D81324;

                        transition: .5s ease-in-out transform;
                        transform: scale(0);
                        color:#D81324;
                        ;

                        .box{
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            width: 50px;
                            height: 50px;
                            background: white;
                            margin: 0 10px;

                            transition: .2s linear;
                            transition-property: background, color;

                            font-size: 1.25rem;

                            &:hover{
                                color: white;
                                background:#0B2154;
                            }
                        }
                    }
                }
            }
        }
    }

    .testimonial{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        
        &__heading{
            display: flex;
            align-items: center;
            flex-direction: column;

            h5{
                font-size: 14px;
                color: #D81324;
                font-weight: bold;
            }
            span{
                font-size: 30px;
                color: #0B2154;
                font-weight: bold;
            }
        }

        &__container{
            display: flex;
            &__item{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 60px;
                margin-top: 50px;

                &__img{
                    border-radius: 100%;
                    margin-bottom: 10px;
                }
                h2{
                    color: #0B2154;
                    margin-top: 3px;
                }
                span{
                    color: #0B2154;
                    margin-top: 3px;
                }
                &__text{
                    background-color: gainsboro;
                    text-align: center;
                    padding: 40px;
                    margin-top: 10px;
                }
            }
        }
    }

    .footer{
        width: 100%;
        height: 60%;
        color: white;

        &__container{
            background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 1)), url(img/carousel-bg-1.jpg);
            height: 100%;
            background-position: center;
            display: flex;
            flex-direction: column;
            h3{
                font-size: 30px;
            }
            span{
                
                font-size: 16px;
            }

            h6{
                font-size: 18px;
            }

            &__start{
                display: flex;
                //justify-content:space-around ;
                //width: 100%;
                padding: 100px;
                margin-left: 10px;
                
                &__address{
                    display: flex;
                    flex-direction: column;
                    width: 25%;
                    gap: 10px;
                    //margin-top: 10px;
                    &__text{

                        .fa-solid{


                        }
                    }

                    &__icon{
                        display: flex;
                        justify-content: space-around;
                        width: 30%;
                        .fa-brands{
                            border:red;
                        }
                    }
                }

                &__hours{
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &__firstline{
                        h6{

                        }
                        span{

                        }
                    }
                    &__secondline{
                        h6{
                            gap: 5px;
                        }
                        span{
                            gap: 10px;
                        }
                    }
                }

                &__services{
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &__item{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        &__text{

                        }
                    }
                }

                &__newsletter{
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &__text{
                        
                    }
                    &__box{
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        padding-right: 10px;

                        cursor: text;
                        // position: relative;
                        background: #fff   ;
                        // padding: 10px;
                        &__mail{
                            width:85%;
                            height: 4rem;
                            z-index: 1;
                            border: 0;
                            padding: 0 10px;
                            outline: none;
                        }
                        &__signup{
                            // position: absolute;
                            background-color: #D81324;
                            padding: 10px 20px;
                            color: white;
                            border: 0;
                            cursor: pointer;
                        }
                    }
                    
                }

            }

            &__end{
                display: flex;
                margin-bottom: 10px;


                &__rights{  
                    margin-left: 50px;
                }
                &__nav{
                    margin-left: 800px;
                    display: flex;
                    justify-content: space-around;
                    width: 20%;
                    a{

                    }
                }
            }
        }

        

    }

}