*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;

    .fas{
        color: #D81324;

    }

    a{
        text-decoration: none;
        color: #D81324;
    }

    .media{
        font-size: 18px;
        
    }
    

    .intro{
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden;

        &__contact{
            display: flex;
            justify-content: space-between;
            padding:  15px 0;   
            width: 100%;
            background-color:whitesmoke;
            //position: fixed;
            top: 0;
            

            &__start{
                display: flex;
                margin-left: 3rem;
                
                &__address {
                    margin-right: 2rem;
                }
            }

            &__end{
                display: flex;
                margin-right: 40px;
                

                &__number{
                    margin-right: 1rem;
                }

                &__media{

                    gap: 10px;
                    display: flex;
                    
                    

                    &__item{
                        background-color: white;
                        width: 25px;
                        height: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        

                    }
                }
            }
        }

        &__navbar{
            display: flex;
            justify-content: space-between;
            // padding:  15px 0;   
            width: 100%;
            background-color:white;
            //position: fixed;
            align-items: center;
            // height: 40px;
            
            &__logo{
                display: flex;
                margin-left: 3rem;
                font-size: 30px;
                font-weight: bold;
                
                &__text{
                    color: #D81324;
                    margin-left: 2rem;
                }
            }
            
            &__nav{
                display: flex;
                gap: 10px;

                
                
                &__list{
                    display: flex;
                    &__item{
                        margin-left: 30px;
                        list-style: none;
                        padding: 30px 15px;
                        
                    }
                }

                &__button{
                    padding: 30px 45px;
                    margin-left: 30px;
                    background-color: #D81324 ;
                    color: white;
                    font-size: 16px;
                    font-weight: bold;
                    cursor: pointer;
                    border: 0;
                }
            }
        }
            
        &__container{
            background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(img/carousel-bg-1.jpg);
            width: 100%;
            height: 100%;
            //display: flex;
            background-position: center;
            background-size: cover;
            
            
            &__image{
                //display: flex;
                position: relative;
                left: 800px;
                top: 100px ;
            }

            &__text{
                position: relative;
                bottom: 300px;
                //left: 100px;
                margin-left: 100px;
                color: white;
                font-weight: bold;
                h2{
                    
                }
                p{
                    font-size: 50px;
                }
            }
            &__button{
                position: relative;
                bottom: 200px;
                margin-left: 100px;
                background-color: #D81324 ;
                color: white;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                border: 0;
                padding: 20px 60px;
                // width: 200px;
                //height: 50px;
                .fas{
                    
                }
            }
        }
    }
    
}